<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Adicionar Livro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="bookForm" (ngSubmit)="createBook()">
    <div class="forms">
      <div class="photo">
        <ion-icon name="camera" size="large"></ion-icon>
      </div>
      <div class="input">
        <ion-label>Título:</ion-label>
        <ion-input type='text' formControlName="name"></ion-input>
      </div>
      <div class="input">
        <ion-label>Autor:</ion-label>
        <ion-input type='text' formControlName="author"></ion-input>
      </div>
      <div class="input">
        <ion-label>Preço:</ion-label>
        <ion-input fill="outline" type='number' formControlName="price" placeholder="R$"></ion-input>
      </div>
      <div class="input">
        <ion-label>Sinopse:</ion-label>
        <ion-input type='text' formControlName="summary"></ion-input>
      </div>
      <div class="input">
        <ion-label>Estado de Conservação:</ion-label>
        <ion-input type='text' formControlName="condition"></ion-input>
      </div>
    </div>

    <div class="buttonSubmit">
      <ion-button fill="outline" color="danger" shape="round" type='submit' routerLink="/home" [disabled]="bookForm.invalid">Adicionar</ion-button>
    </div>
  </form>

</ion-content>
